.row .card .text {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}
.row .card .text .lovelist {
  transition: height 2s;
  width: 100%;
  line-height: 3rem;
}
.row .card .text .lovelist .open {
  border-bottom: 1px solid rgba(208, 206, 206, 0.6) !important;
  cursor: pointer;
}
.row .card .text .lovelist .open .hied {
  display: none;
  width: 100%;
  height: 100%;
  transition: all 0.1s linear;
}
.row .card .text i {
  font-style: normal;
  margin-right: 0.8rem;
  font-size: 1.8rem;
}
.row .card .text .air {
  color: #ddd;
}
.row .card .text .com {
  color: #19ffa0;
}
.row .card .text span {
  font-size: 1.3rem;
  font-family: 'Noto Serif SC', serif;
  font-weight: 700;
}
.open img{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 0 2px 12px #ebedf07a;
  border: 1px solid rgba(208, 206, 206, 0.6) !important;
  margin: 1.5rem 0;
}
